<form (ngSubmit)="onSubmit()" [formGroup]="rfContact" class="row justify-content-md-center" novalidate>
  <div class="col-md-8">
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="example-text-input">Name:</label>
      <div class="col-md-10">
        <input class="form-control" formControlName="contactName" id="example-text-input" type="text">
      </div>
    </div>
    <div *ngIf="rfContact.get('contactName')?.errors?.required && rfContact.get('contactName')?.touched"
         class="col alert alert-danger"
         role="alert">
      Name is required!
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="example-email-input">Email:</label>
      <div class="col-md-10">
        <input class="form-control" formControlName="email" id="example-email-input" type="email">
      </div>
    </div>
    <fieldset formGroupName="social">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="example-url-fb">Facebook:</label>
        <div class="col-md-10">
          <input class="form-control" formControlName="facebook" id="example-url-fb" type="url">
        </div>
      </div>
      <div *ngIf="rfContact.get('social.facebook')?.hasError('required') && rfContact.get('social.facebook')?.touched"
           class="col alert alert-danger"
           role="alert">
        Facebook is required!
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="example-url-twt">Twitter:</label>
        <div class="col-md-10">
          <input class="form-control" formControlName="twitter" id="example-url-twt" type="url">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="example-url-web">Website:</label>
        <div class="col-md-10">
          <input class="form-control" formControlName="website" id="example-url-web" type="url">
        </div>
      </div>
    </fieldset>
    <div *ngIf="tels.controls.length" formArrayName="tels">
      <div *ngFor="let c of tels.controls; index as i" class="form-group row">
        <label class="col-md-2 col-form-label" for="example-tel-input">Tel:</label>
        <div class="col-md-10">
          <input [formControlName]="i" class="form-control" id="example-tel-input" type="tel">
          <div class="text-right">
            <button (click)="addTel()" class="btn btn-info">+</button>
            <button (click)="removeTel(i)" *ngIf="tels.controls.length > 1" class="btn btn-danger">-</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-10 offset-md-2">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form>
<pre>{{ rfContact.value | json }}</pre>
